main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

p {
    text-align: center;
    margin: 20px;
    font-size: 15px;
}

.timerPage__dark {
    background-image: radial-gradient(circle at center 400px, #000046, #1CB5E0);
    color: #FFFFFF;
}

.timerPage__light {
    background-image: radial-gradient(circle at center 400px, #1CB5E0, #FFFFFF);
    color: #000046;
}

.button__dark,
.button__light {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.button__dark {
    background-color: #000046;
    color: #FFFFFF;
}

.button__light {
    background-color: #1CB5E0;
    color: #000046;
    box-shadow: 3px 3px 2px 2px #01759f;
}

button > span {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}