* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.home__dark,
.home__light {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home__dark {
    background-image: radial-gradient(circle at bottom left, #000046, #1CB5E0);
    color: #FFFFFF;
}

.home__light {
    background-image: radial-gradient(circle at bottom left, #1CB5E0, #FFFFFF);
    color: #000046;
}

.startContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.startButton__dark,
.startButton__light {
    padding: 50px;
    border: none;
    border-radius: 5px;
}

.startButton__dark,
.startButton__dark > a {
    background-color: #000046;
    color: #FFFFFF;
}

.startButton__dark > a:hover {
    color: #FFFFFF;
}

.startButton__light,
.startButton__light > a:hover {
    background-color: #1CB5E0;
    color: #000046;
}

.link {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}










